/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@font-face {
  font-family: beach;
  src: url(fonts/LagunaBeach.ttf);
}

@font-face {
  font-family: umbrella;
  src: url(fonts/Umbrella.otf);
}



body {
    margin-top: 0px;
    text-align: center;
    color: #1D3557;
    text-shadow: 0 1px 4px #A8DADC;
    font-family: umbrella;
    font-size: 30px
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid #457B9D;
    border-radius: 25px; 
  
        
}

#hero {
    background-image: url("images/180881033_216904046879831_772718396799814126_n.jpg");
    background-size: cover;
    height: 625px;  
    font-size: 25px;
    color:  #F1FAEE;
    text-shadow: 0 0 2px #1D3557;
    font-family: beach;
    border-bottom: 6px solid  #457B9D;
    margin: 0 5px 0 5px;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
}

#welcome {
    font-family: beach;
    padding-top: 30px;
}

#activities-images {
 display: flex;
 justify-content: space-between;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 30px;
 padding-bottom: 20px;
}

#attractions {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:55px;
    text-shadow: 0 0 44px  #F1FAEE;
}

#activities {
    background: linear-gradient(#F1FAEE, #F1FAEE, #F1FAEE, #A8DADC);
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: -5px;
}

.act {
    margin: 0 40px 0 40px;
}

.personality {
     margin: 5px 10px;
     font-size: 15px;
     font-family: 'Roboto Condensed', sans-serif;
     font-style: italic;
}

.guide {
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    display: flex;
    width: 400px;
    padding: 30px 30px;
    margin: 40px auto 40px auto;
    background-color: #F1FAEE; 
    transform: rotate(1deg);
    border-bottom: 4px solid #1D3557
}

#guide-text {
    display: inline;
    width: 150px;
    margin-left: auto;
    margin-top: 2px;
    padding: 0;
    
}

#guide-image:hover {
   -webkit-filter: invert(1);
   filter: invert(1);
   transform: rotate(-15deg);
}

